<p>
  <b>Username:</b>
  <%=h @account.username %>
</p>
<p>
	<P>Do you want to chat with someone who bought the desire product that you wanted?  Sign up your IM id and you will get notified.</P>
	<%=link_to 'Add My IM', :controller => "ims", :action => "new", :a_id => @account %><br><br>
<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>